{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167945289-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-167945289-1');
    </script>


    <title>Bauhaus Consultancy | {% block page_title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}">

    <link href="https://pro.fontawesome.com/releases/v5.9.0/css/all.css" rel="stylesheet" as="style">
</head>

<body>

    <header class="header">
        <a class="header__logo" href="{% url 'home' %}">
            <img alt="bauhaus" class="header__logo__img header__logo__img--desktop" src="{% static 'img/bauhaus-desktop.png' %}">
            <img alt="bauhaus" class="header__logo__img header__logo__img--mobile" src="{% static 'img/bauhaus-mobile.png' %}">
            <div class="header__logo__subheading">CONSULTANCY</div>
        </a>
        <div class="header__button-container">
            <a class="button button--white-border" href="{% url 'contact' %}">Contact Us</a>
        </div>
    </header>

    {% block mainpage %}{% endblock %}

    <footer class="footer">
        <div class="footer__section">
            <p>Copyright Bauhaus Consultancy </p>
            <p><a href="{% url 'contact' %}">Contact us</a></p>
            <a class="footer__social-icon" target="_blank" href="https://uk.linkedin.com/in/bauhaus-consultancy-2398731a8"><span class="fab fa-linkedin fa-fw"></span></a>
            <p><a href="https://www.procore.com/en-gb" target="_blank">Visit Procore</a></p>
        </div>
        <div class="footer__section">
            <p>Website by <a href="https://www.bonnieappleton.com" target="_blank">Bonnie Appleton</a></p>
        </div>
    </footer>
</body>

</html>