{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bauhaus Consultancy | {% block page_title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>

<body>

    <header class="header">
        <a class="header__logo" href="{% url 'home' %}">
            <img alt="bauhaus" class="header__logo__img" src="{% static 'img/bauhaus.png' %}">
            <div class="header__logo__subheading">CONSULTANCY</div>
        </a>
        <div class="header__button-container">
            <a class="button button--white-border" href="{% url 'contact' %}">Contact Us</a>
        </div>
    </header>

    {% block mainpage %}{% endblock %}

    <footer class="footer">
        <p>
            Copyright Bauhaus Consultancy </br>
            <a href="{% url 'contact' %}">Contact us</a>
        </p>
        <img src="https://placekitten.com/50/50">
        <p>Website by <a href="https://www.bonnieappleton.com">Bonnie Appleton</a></p>
    </footer>
</body>

</html>