{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bauhaus Consultancy | {% block page_title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>

<body>

    <header class="header">
        <a class="header__logo" href="{% url 'home' %}">
            <img alt="bauhaus consultancy" src="{% static 'img/bauhaus-large-banner-2_001.jpeg' %}"/>
        </a>
        <div class="header__button-container">
            <a class="button button--orange" href="{% url 'contact' %}">Contact Us</a>
        </div>
    </header>

    {% block mainpage %}{% endblock %}

</body>

</html>