@import 'variables';

body {
  color: $color-black;
  background-color: $color-grey;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin: auto;


}

h2 {
  font-size: 60px;
  margin: 20px 0;
}

h3 {
  font-size: 44px;
}

h4 {
  font-size: 30px;
  font-weight: 100;
  margin: 10px 0 30px;
}

p {
  font-size: 18px;
  color: $color-concrete;
}

a {
  text-decoration: none
}

.button {
  height: 38px;
  color: $color-white;
  font-size: 20px;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;

  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;

  background-color: $color-orange;
  border: solid $color-orange 2px;

  &:hover {
    color: $color-orange;
    background-color: transparent;
  }

  &--white-border {
    border-color: $color-white;
    &:hover {
      background-color: $color-white;
    }
  }


}

.round-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
