@import 'variables';

body {
  color: $color-black;
  background-color: $color-grey;
  font-family: helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin: auto;
}

h1 {
  font-size: 60px;
  margin: 20px 0;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 30px;
  font-weight: 100;
  margin: 10px 0 30px;
}

p {
  font-size: 18px;
  color: $color-concrete;
}

.button {
  height: 38px;
  color: $color-white;
  font-size: 20px;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;

  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;

  &--orange {
    background-color: $color-orange;
  }
}

.round-image {
  border-radius: 50%;
}
