@import 'variables';

html,
body {
  min-height: 100vh;
}

body {
  display: -webkit-flex ;
  -webkit-flex-direction: column;

  display: flex;
  flex-direction: column;

  color: $color-black;
  background-color: $color-grey;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin: auto;


}

section {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

h2 {
  font-size: 60px;
  margin: 20px 0;

  @media only screen and (max-width: $break-large-phone) {
    font-size: 50px;
  }
}

h3 {
  font-size: 44px;

  @media only screen and (max-width: $break-large-phone) {
    font-size: 40px;
  }
}

h4 {
  font-size: 30px;
  font-weight: 100;
  margin: 10px 0 30px;

  @media only screen and (max-width: $break-large-phone) {
    font-size: 25px;
  }
}

p {
  font-size: 18px;
  color: $color-concrete;

  @media only screen and (max-width: $break-large-phone) {
    font-size: 14px;
  }
}

a {
  text-decoration: none
}

.button {
  height: 38px;
  color: $color-white;
  font-size: 20px;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;

  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  -webkit-align-items: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $color-orange;
  border: solid $color-orange 2px;

  &:hover {
    color: $color-orange;
    background-color: transparent;
    cursor: pointer;
  }

  &--white-border {
    border-color: $color-white;
    &:hover {
      background-color: $color-white;
    }
  }

  @media only screen and (max-width: $break-large-phone) {
    font-size: 16px;
  }

}

.round-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
