@import "variables";

$border-radius: 15px;
$border-radius-second: $border-radius + 1;

.contact-section {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: flex-end;
  -webkit-justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  -webkit-align-self: center;
  align-self: center;

  background: url('../img/welding.jpg') no-repeat top;
  background-size: cover;
  width: 80%;
  margin: 44px;
  border-radius: $border-radius $border-radius-second $border-radius-second $border-radius;
}

.contact-form {
  display: -webkit-flex;
  -webkit-flex-direction: column;

  display: flex;
  flex-direction: column;

  max-width: 400px;
  height: 100%;
  background-color: $color-white;
  padding: 40px;
  border-radius: 0 $border-radius $border-radius 0;


  h2, p {
    text-align: center;
  }

  label {
    margin-bottom: 5px;
  }
  input, textarea {
    margin-bottom: 20px;
    background-color: $color-grey;
    border: none;
    padding: 5px;
  }

  @media only screen and (max-width: $break-small-tablet) {
    max-width: none;
    border-radius: $border-radius;
    align-self: stretch;
  }
}