@import "variables";

footer {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;

  background-color: $color-concrete;
  padding: 15px;

  p {
    font-size: 12px;
    color: $color-white;
  }
}