@import 'variables';

$header-height: 160px;
$orange-stripe-height: 126px;
$white-stripe-height: 129px;


.header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;

  height: $header-height;

  background: linear-gradient(
                  180deg,
                  $color-orange,
                  $color-orange $orange-stripe-height,
                  $color-white $orange-stripe-height,
                  $color-white $white-stripe-height,
                  $color-slate $white-stripe-height);
  border-bottom: solid $color-white 3px;

  &__logo {
    display: -webkit-flex;
    display: flex;

    height: $header-height;
    padding: 0 20px;

    &__img {
      height: $header-height - 24px;
    }

    &__subheading {
      display: -webkit-flex;
      -webkit-align-items: flex-end;

      align-items: flex-end;
      display: flex;

      font-family: Futura, Helvetica, sans-serif;
      color: $color-steel;
      font-weight: bold;
      margin: 5px 40px
    }
  }

  &__button-container {
    padding: 33px;
  }
}
