@import 'variables';

$header-height: 100px;

.header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;

  background-color: $color-white;
  height: $header-height;

  &__logo {
    height: $header-height;

    img {
      height: $header-height;
    }
  }

  &__button-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;

    padding: 35px;
  }
}
