@import 'variables';

@font-face{
  font-family: 'thiamine';
  src: url('../font/thiamine-webfont.woff') format('woff');
}

$header-height: 160px;
$orange-stripe-height: 125px;
$white-stripe-height: 127px;


.header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;

  height: $header-height;

  background: linear-gradient(
                  180deg,
                  $color-orange,
                  $color-orange $orange-stripe-height,
                  $color-white $orange-stripe-height,
                  $color-white $white-stripe-height,
                  $color-slate $white-stripe-height);
  border-bottom: solid $color-white 2px;

  &__logo {
    display: -webkit-flex;
    display: flex;

    height: $header-height;
    padding: 0 20px;

    &__img {
      height: $header-height - 24px;
    }

    &__subheading {
      display: -webkit-flex;
      -webkit-align-items: flex-end;

      align-items: flex-end;
      display: flex;

      font-family: Futura, Helvetica, sans-serif;
      color: $color-steel;
      font-weight: bold;
      margin: 4px 40px
    }
  }

  &__button-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;

    padding: 35px;
  }
}
