@import 'variables';

.feature-image-section {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: flex-start;
  -webkit-justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding: 100px $side-gutter 270px;
  height: 530px;
  color: $color-white;
  background-size: cover;
  background: url('../img/procore-app.jpg') no-repeat top;

  h2, h4 {
    width: 50%;
    text-shadow: 2px 2px 4px $color-black;
  }
}

.content-section {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: stretch;
  -webkit-justify-content: space-between;

  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;

  background-color: $color-white;


  &--reverse {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  
  @media only screen and (max-width: $break-small-tablet) {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.procore-section {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 80px $side-gutter;
  text-align: center;
}

.section-image {
  max-width: 50%;
  object-fit: cover;

  @media only screen and (max-width: $break-small-tablet) {
    max-width: 100%;
  }

}

.text-block {
  padding: 50px $side-gutter;

  h3 {
    margin-top: 0;
  }

  &--center {
    text-align: center;
    max-width: 900px;
  }
}

.about-me-section {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}