@import 'variables';

.feature-image-section {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: flex-start;
  -webkit-justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding: 100px 20px 270px 20px;
  height: 530px;
  color: $color-white;
  background: url('../img/procore-app.jpg') no-repeat;
  background-size: cover;

  &__text {

  }
}

.content-section {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  background-color: $color-white;

}

.procore-section {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 80px 20px;
}

.section-image {
  max-width: 50%;
}

.text-block {
  padding: 20px 60px;

  &--center {
    text-align: center;
    max-width: 40%;
  }
}

.about-me-section {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 80px 20px;
}