$color-white: #ffffff;
$color-black: #000000;
$color-orange: #FF5200;
$color-grey: #F3F4F6;
$color-concrete: #555555;
$color-steel: #898B8E;
$color-slate: #282828;

$break-large-tablet: 1024px;
$break-small-tablet: 768px;
$break-large-phone: 570px;
$break-small-phone: 420px;

$side-gutter: 60px;
$side-gutter-mobile: 20px;