html, body {
  height: 100%;
}

body {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  color: #000000;
  background-color: #F3F4F6;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin: auto;
}

section {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

h2 {
  font-size: 60px;
  margin: 20px 0;
}
@media only screen and (max-width: 570px) {
  h2 {
    font-size: 50px;
  }
}

h3 {
  font-size: 44px;
}
@media only screen and (max-width: 570px) {
  h3 {
    font-size: 40px;
  }
}

h4 {
  font-size: 30px;
  font-weight: 100;
  margin: 10px 0 30px;
}
@media only screen and (max-width: 570px) {
  h4 {
    font-size: 25px;
  }
}

p {
  font-size: 18px;
  color: #555555;
}
@media only screen and (max-width: 570px) {
  p {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
}

.button {
  height: 38px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FF5200;
  border: solid #FF5200 2px;
}
.button:hover {
  color: #FF5200;
  background-color: transparent;
  cursor: pointer;
}
.button--white-border {
  border-color: #ffffff;
}
.button--white-border:hover {
  background-color: #ffffff;
}
@media only screen and (max-width: 570px) {
  .button {
    font-size: 16px;
  }
}

.round-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 160px;
  background: linear-gradient(180deg, #FF5200, #FF5200 126px, #ffffff 126px, #ffffff 129px, #282828 129px);
  border-bottom: solid #ffffff 3px;
}
.header__logo {
  display: -webkit-flex;
  display: flex;
  height: 160px;
  padding: 0 20px;
}
.header__logo__img {
  height: 136px;
}
.header__logo__img--mobile {
  display: none;
}
.header__logo__subheading {
  display: -webkit-flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  display: flex;
  font-family: Futura, Helvetica, sans-serif;
  color: #898B8E;
  font-weight: bold;
  margin: 5px 40px;
}
.header__button-container {
  padding: 33px;
}

@media only screen and (max-width: 768px) {
  .header__logo__subheading {
    display: none;
  }
}
@media only screen and (max-width: 570px) {
  .header {
    height: 127px;
    background: linear-gradient(180deg, #FF5200, #FF5200 103px, #ffffff 103px, #ffffff 105px, #282828 105px);
    border-bottom: none;
  }
  .header__logo__img {
    height: 110px;
  }
  .header__button-container {
    padding: 21px 21px 0 0;
  }
}
@media only screen and (max-width: 420px) {
  .header__logo__img--mobile {
    display: unset;
  }
  .header__logo__img--desktop {
    display: none;
  }
}
.feature-image-section {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: flex-start;
  -webkit-justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 100px 60px 270px;
  height: 530px;
  color: #ffffff;
  background-size: cover;
  background: url("../img/procore-app.jpg") no-repeat top;
}
.feature-image-section h2, .feature-image-section h4 {
  width: 50%;
  text-shadow: 2px 2px 4px #000000;
}
.feature-image-section__img {
  display: none;
  object-fit: cover;
  width: 100%;
}
@media only screen and (max-width: 570px) {
  .feature-image-section {
    -webkit-align-items: center;
    align-items: center;
    padding: 50px 20px;
    background: none;
    height: unset;
    color: #000000;
    text-align: center;
  }
  .feature-image-section h2, .feature-image-section h4 {
    width: 100%;
    text-shadow: none;
  }
  .feature-image-section__img {
    display: unset;
  }
}

.content-section {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: stretch;
  -webkit-justify-content: space-between;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  background-color: #ffffff;
}
.content-section--reverse {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media only screen and (max-width: 768px) {
  .content-section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.procore-section {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 60px;
  text-align: center;
}
@media only screen and (max-width: 570px) {
  .procore-section {
    padding: 50px 20px;
  }
}

.section-image {
  max-width: 50%;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  .section-image {
    max-width: 100%;
  }
}

.text-block {
  padding: 50px 60px;
}
.text-block h3 {
  margin-top: 0;
}
.text-block--center {
  text-align: center;
  max-width: 900px;
}
@media only screen and (max-width: 570px) {
  .text-block {
    padding: 50px 20px;
  }
}

.about-me-section {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background-color: #282828;
  padding: 15px;
}
footer p {
  font-size: 12px;
  color: #ffffff;
}

.contact-section {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: flex-end;
  -webkit-justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  -webkit-align-self: center;
  align-self: center;
  background: url("../img/welding.jpg") no-repeat top;
  background-size: cover;
  width: 80%;
  margin: 44px;
  border-radius: 15px 16px 16px 15px;
}

.contact-form {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 100%;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 0 15px 15px 0;
}
.contact-form h2, .contact-form p {
  text-align: center;
}
.contact-form label {
  margin-bottom: 5px;
}
.contact-form input, .contact-form textarea {
  margin-bottom: 20px;
  background-color: #F3F4F6;
  border: none;
  padding: 5px;
}
@media only screen and (max-width: 768px) {
  .contact-form {
    max-width: none;
    border-radius: 15px;
    align-self: stretch;
  }
}

/*# sourceMappingURL=global.css.map */
